.todo-cards-container {
  width: 100%;
  position: relative;
}

.todo-card {
  margin-bottom: 10px;
  width: 200px;
}

.search-card {
  margin-bottom: 10px;
}

.mat-radio-button {
  margin: 0 12px;
}

.todo-list-item {
  background-color:rgb(232, 232, 241);
  border: 2px inset #697cce;
  /* adjust as needed */
  border-radius: 20px;
  /* adjust as needed */
}
